name: Test and Verify
on:
  push:
    branches:
      - master
    pull_request:
jobs:
  fingerprint_repo:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-22.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Run Contrast SCA Fingerprint
        id: fingerprint
        uses: 'Contrast-Security-OSS/contrast-sca-action@v2'
        with:
          apiKey: ${{ secrets.CONTRAST_GITHUB_APP_API_KEY }}
          authHeader: ${{ secrets.CONTRAST_GITHUB_APP_AUTH_HEADER }}
          orgId: ${{ vars.CONTRAST_GITHUB_APP_ORG_ID }}
          apiUrl: ${{ vars.CONTRAST_GITHUB_APP_TS_URL }}
          repoUrl: ${{ github.server_url }}/${{ github.repository }}
          repoName: ${{ github.repository }}
          externalId: ${{ vars.CONTRAST_GITHUB_APP_ID }}
          command: fingerprint
    outputs:
      fingerprint: ${{ steps.fingerprint.outputs.fingerprint }}
  analyze_dependencies:
    if: ${{ needs.fingerprint_repo.outputs.fingerprint != '' }}
    needs: fingerprint_repo
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        manifest:
          - ${{ fromJson(needs.fingerprint_repo.outputs.fingerprint) }}
    steps:
        # check out project
      - uses: actions/checkout@v2
        # record start time so we can verify only newly found vulnerabilities
      - name: Define job start time
        run: |
          import time
          n = int(round(time.time() * 1000))
          print(f"::set-output name=jobStartTime::{n}")
        shell: python
        id: set-job-start-time
      # steps to build and run integration tests
      # - name: Run tests
      #
      - name: Contrast SCA Action
        uses: Contrast-Security-OSS/contrast-sca-action@v1
        with:
          apiKey: ${{ secrets.CONTRAST_API_KEY }}
          orgId: ${{ secrets.CONTRAST_ORGANIZATION_ID }}
          authHeader: ${{ secrets.CONTRAST_AUTH_HEADER }}
          apiUrl: ${{ secrets.CONTRAST_API_URL }}
          filePath: ${{ matrix.manifest.filePath }}
          severity: medium
          fail: true
  analyze_code:
    runs-on: ubuntu-22.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Install zip
        run: sudo apt-get install zip
      - name: Create ZIP Archive
        run: |
          ls -la
          zip -r output.zip . -x ".git/*" ".github/*"
        working-directory: ${{ github.workspace }}
      - name: Contrast  Scan Action
        uses: Contrast-Security-OSS/contrastscan-action@v3.0.0
        with:
          artifact: output.zip
          apiKey: ${{ secrets.CONTRAST_API_KEY }}
          orgId: ${{ secrets.CONTRAST_ORGANIZATION_ID }}
          apiUrl: ${{ secrets.CONTRAST_API_URL }}
          authHeader: ${{ secrets.CONTRAST_AUTH_HEADER }}
          severity: high
          fail: true
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif